/* App.css */

body {
    background-color: #f0f0f0; /* Set the background color for the entire page */
}

.App {
    text-align: center;
    padding-bottom: 100px; /* Add padding to the bottom of the page */
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.header-box {
    border: 2px solid #00B0CB; /* Mercedes AMG turquoise color */
    padding: 10px;
    display: inline-block; /* Ensure inline elements behave like blocks */
    background-color: #00B0CB; /* Fill in the box with the color */
    width: 100%; /* Take up entire width */
}

.logo {
    width: 250px;
    margin-right: 10px;
}

.main-data {
    border: 2px solid #fff;
    padding: 10px;
    margin-bottom: 20px;
}

.data-container {
    display: flex;
    justify-content: space-around;
}

.data {
    margin: 10px;
    text-align: left;
}

.car-group {
    display: flex;
    justify-content: space-around;
}

.car-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.car-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ccc; /* Add border around the car image */
    padding: 10px; /* Add padding to the car image container */
}

.car-image {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.emergency-box {
    background-color: #ff0000;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 20px; /* Add margin to the bottom of the emergency box */
}

.footer {
    background-color: #282c34;
    color: white;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}

    .footer .copyright {
        margin-bottom: 10px;
    }

    .footer .powered-by {
        font-size: 14px;
    }
